PORT=3001
UPTIME_ROBOT_API_KEY=
MATRIX_SERVER_URL=
DEFAULT_ROOM_ID=
TCHAP_USERNAME=
TCHAP_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
SENSITIVE_MONITOR_GROUP=
